body {
    background-image: link("img/background.jpg");
}

div.header {
    background-color: aqua;
}

div.a {
    text-align: center;
    display: inline-block;
    width: 30%;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }
div.b {
    text-align: center;
    display: inline-block;
    width: 50%;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }
div.c {
    display: inline-block;
    text-align: left;
    width: 20%;
    padding: 5px;
    border: 1px solid blue;    
    background-color: yellow; 
  }